<h4 class="center-aling">Crear Servicio</h4>

<div class="container">
    <form [formGroup]="fgValidador" (ngSubmit)="guardarServicio()" method="post">

        <div class="row col s12">
            <div class="col s2">
                <label class="col-form-label">Empresa</label>
            </div>
            <div class="col s4">
                <select formControlName="empresaId" class="browser-default">
                    <option value="" disabled selected>Seleccione una Empresa</option>
                    <option *ngFor="let emp of listadoRegistrosEmpresa" [value]="emp.id">{{ emp.nombre }} </option>
                </select>
            </div>
        </div>   

        <div class="row col s12">
            <div class="col s2">
                <label class="col-form-label">Tipo Servicio</label>
            </div>
            <div class="col s4">
                <select formControlName="tipoServicioId" class="browser-default">
                    <option value="" disabled selected>Seleccione Tipo Servicio</option>
                    <option *ngFor="let tipos of listadoTiposervicios" [value]="tipos.id">{{ tipos.tipo }}</option>
                </select>
            </div>
            <div class="col s4">
                <label class="col-form-label"></label>
            </div>
            <div class="col s5 col lg5">
                <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div> 

