<ol class="breadcrumb">
    <li class="breadcrumb-item active">Sección Actualizar Personas</li>
</ol>
<h3>Modificar Datos</h3>

<div class="container">
    <form [formGroup]="fgValidador" (ngSubmit)="editarPersona()" id="formList" method="post">
        <input type="hidden" formControlName="id">
        <div class="row col s10">
            <div class="col s2">
                <label class="col-form-label">Nombres</label>
            </div>
            <div class="col s3">
                <input formControlName="nombre" type="text" class="form-control" required>
            </div>
    
            <div class="col s2">
                <label class="col-form-label">Apellidos</label>
                </div>
            <div class="col s3 col lg3">
                <input formControlName="apellidos" type="text" class="form-control" required>
            </div>
        </div>

        <div class="row col s10">
            <div class="col s2">
                <label class="col-form-label">Identificacion</label>
            </div>
            <div class="col s3">
                <input formControlName="identificacion" type="text" class="form-control" required>
            </div>
            <div class="col s2">
                <label class="col-form-label">Fecha de nacimiento</label>
            </div>
            <div class="col s3 col lg3">
                <input formControlName="fecha_nacimiento" type="date" class="form-control" required>
            </div>
        </div>

        <div class="row col s10">
            <div class="col s2">
                <label class="col-form-label">Email</label>
            </div>
            <div class="col s3">
                <input formControlName="email" type="email" class="form-control" required>
            </div>
            <div class="col s2">
                <label class="col-form-label">Estado</label>
            </div>
            <div class="col s3 col lg3">
                <div class="switch">
                    <label>
                      Off
                      <input formControlName="estado" type="checkbox">
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
            </div>
        </div>

        <div class="row col s15">
            <div class="col s5 col lg5">
                <button [disabled]="!fgValidador.valid" type="submit" class="waves-effect waves-light btn-small">Guardar</button>
            </div>
        </div>    
    </form>
</div> 

