<h4 class="center-aling">Editar Directivo</h4>

<div class="container">
    <form [formGroup]="fgValidador" (ngSubmit)="editarDirectivo()" method="post">
        <input type="hidden" formControlName="id">
        <div class="row col s12">
            <div class="col s2">
                <label class="col-form-label">Empleado</label>
            </div>
            <div class="col s4">
                <select formControlName="empleadoId" class="browser-default">
                    <option value="" disabled selected>Seleccione un empleado</option>
                    <option *ngFor="let emp of listadoRegistrosEmpleado" [value]="emp.id">{{ emp.id }}</option>
                </select>
            </div>
    
            <div class="col s2">
                <label class="col-form-label">Categoria</label>
                </div>
            <div class="col s4 col lg4">
                <input formControlName="categoria" type="text" class="form-control" required>
            </div>
        </div>

        <div class="row col s12">
            <div class="col s5">
                <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
   
    </form>
</div> 


