<ol class="breadcrumb">
    <li class="breadcrumb-item active">Sección Actualizar Clientes</li>
</ol>
<h3>Modificar Datos</h3>

<div class="container">
    <form [formGroup]="fgValidador" (ngSubmit)="editarCliente()" id="formList" method="post">
        <input type="hidden" formControlName="id">
        <div class="row col s10">
            <div class="col s2">
                <label class="col-form-label">Telefono</label>
            </div>
            <div class="col s13">
                <input formControlName="telefono" type="number" class="form-control" required>
            </div>
        </div>
        <div class="row col s10">
            <div class="col s2">
                <label class="col-form-label">Persona</label>
            </div>
            <div class="col s13 col lg13">
                <select formControlName="personaId" class="browser-default">
                    <option value="" disabled selected>Seleccione una persona</option>
                    <option *ngFor="let per of listadoRegistros" [value]="per.id">{{ per.nombre }} {{ per.apellidos }}</option>
                </select>
            </div>
        </div>
        <div class="row col s10">
            <div class="col s5 col lg5">
                <button [disabled]="!fgValidador.valid" type="submit" class="waves-effect waves-light btn-small">Guardar</button>
            </div>
        </div>
    </form>
</div> 