<nav>
    <div class="nav-wrapper">
      <a  routerLink="/inicio" class="brand-logo"><img src="./assets/empresatic.png"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-persona">Personas</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-empleado">Empleado</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-cliente">Cliente</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-gerente">Gerente</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-directivo">Directivo</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-empresa">Empresa</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-servicio">Servicio</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-tipo">Tipo Servicio</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-empresacliente">Empresa-Cliente</a></li>
        <li *ngIf="sesionIniciada"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
        <li *ngIf="!sesionIniciada"><a routerLink="/seguridad/login">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-persona">Personas</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-empleado">Empleado</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-cliente">Cliente</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-gerente">Gerente</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/persona/listar-directivo">Directivo</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-empresa">Empresa</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-servicio">Servicio</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-tipo">Tipo Servicio</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/empresa-ser/listar-empresacliente">Empresa-Cliente</a></li>
    <li *ngIf="sesionIniciada"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
    <li *ngIf="!sesionIniciada"><a routerLink="/seguridad/login">Iniciar Sesión</a></li>
  </ul>
