<h3 class="breadcrumb-item active" id="tituloDirectivo">Directivos</h3>

<a routerLink="/persona/crear-directivo" class="btn btn-primary" id="crearDirectivo">Agregar Directivo</a>

<div class="col s12 m9">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table responsive centered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                     </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dir of listadoRegistros">
                        <td>{{ dir.nombre }} {{ dir.apellidos }}</td>
                        <td>{{ dir.categoria }}</td>
                        <td>
                            <a routerLink="/persona/editar-directivo/{{ dir.id }}" class="btn btn-floating btn waves-effect waves-light"><i class="material-icons prefix">edit</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
      </div>
    </div>
  </div>


